.full-screen-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1000; /* Ensure the popup is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .full-screen-popup-content {
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 5px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  