.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
}

.toast.fail {
    background-color: #e74c3c; /* Red */
}

.toast.success {
    background-color: #2ecc71; /* Green */
}

.toast-message {
    display: inline-block;
    margin-right: 10px;
    max-width: calc(100% - 40px); /* Adjust according to your design */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.close-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
