.vertical-range-slider {
   
    position: relative;
    height: 100%;
    margin: 20px;
  }
  
  .custom-rangeInput-verticle {
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    width: 10px;
    height: 100%;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    cursor: pointer;
    transform: rotate(270deg);
    transform-origin: 50% 50%;
    position: absolute;
    right: 50%;
  }
  
  .custom-rangeInput-verticle::-webkit-slider-thumb {
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    background-color: #e97730;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  .custom-rangeInput-verticle::-moz-range-thumb {
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    background-color: #e97730;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  .custom-rangeInput-verticle::-ms-thumb {
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    background-color: #e97730;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  .tooltip {
    position: absolute;
    right: 35px;
    transform: translateY(50%);
    background-color: #e97730;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    transition: bottom 0.15s ease-in-out;
  }
  